<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<app-header></app-header>
<div>
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets\font_pic.jpeg" alt="Angular Carousel 1"  style="width: 100% ;">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets\font_pic.jpeg" alt="Angular Carousel 1"  style="width: 100% ;">
      </div>
    </ng-template>
  </ngb-carousel>
  <br>
  <h1 style="text-align: center; font-size: 50px;"> <em>  Best Car-Washing Services at Your Doorstep </em></h1><br>
    <p style="width: 80%;text-align: justify !important;display: block;padding-left: 18%;font-size: 25px;">Everyone
        wants to look their best when
        they step out of their house. When
        you take the time to get ready and look sharp, why not give your car the same
        treatment as well? In case you cannot find the time to take your car out to get
        it cleaned, give us a call, and our professional cleaning crew will be at your
        doorstep in no time. While you are busy getting ready or while you are at work,
        our team will meticulously clean your car to leave it sleek and shining.
        Choose any of our affordable monthly plans and enjoy hassle-free car wash at your
        parking. Try GoGreen’s car wash at doorstep service
        and give your car the five-star treatment today!</p>

    <p style="width: 80%;text-align: justify !important;display: block;padding-left: 18%; font-size: 25px;">
        <strong>STEAM WASHING</strong>
        is the process of using steam for external and internal
        cleaning of vehicles. Steam has been an important component in the cleaning
        segment for decades. Steam can sterilize and clean your vehicle properly,
        which makes your vehicle look stunning and healthy. It has the unique ability
        to clean and brighten your vehicle simultaneously. It also has the ability to
        kill bacteria, germs, viruses and other microorganisms.</p>
        <br>
</div>

<div>
  <div class="why_choose_us">
    <h1 style="text-align: center; font-size: 50px;color:black;padding-right: 15%;"><em>Why Choose US ?</em></h1>
    <br>
    <div style="float: none;margin-left: center;
        margin-right: 20%; margin-left: 20%;">

        <div style="display: inline-block;"><em class="material-icons border-item-menu">account_circle</em>
            <div style="width: 220px;font-size: 22px;"><strong style="font-size: 25px;">Professional staff</strong><br><br>Well-trained professional cleaning
                staff<br> with years of experience.</div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <div style="display: inline-block;"><em class="material-icons border-item-menu">stars</em>
            <div style="width: 220px;font-size: 22px;"><strong style="font-size: 25px;">Quality Management</strong><br><br>100% Quality Assurance and round
                <br>the clock customer service.</div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <div style="display: inline-block;"><em class="material-icons border-item-menu">fingerprint</em>
            <div style="width: 220px;font-size: 22px;"><strong style="font-size: 25px;">Full Secure Service from US</strong><br><br>Book a slot at your convenience
                and <br>we will provide full secure service.</div>
        </div>
    </div>
  </div>
  </div>
<br>
<br>

<div class="container">
  <h1 style="text-align: center; font-size: 50px;color:black"><em>BOOK YOUR SLOT</em></h1>
  <br>
  <img src="assets\Picture_wash.jpg" alt="Norway"stretch="full" style="width: 100%;height: auto;">
  <div class="text-block">

    <h4 style="color:black;font: 500;"><i><b>Your CAR deserves a better look</b></i></h4>
    <a href="car-booking" style="color:wheat"><button class="btn" style="color: black;"><b>BOOK NOW</b></button></a>
  </div>
</div>
<br>
<br>

    <div>
        <h1 style="text-align: center;font-size: 50px;">How We Work</h1>
        <br>
        <div class="why_choose_us">
            <div style="display: inline-block;padding-left: 18%;align-items: center;padding-left: 10%;"><em class="material-icons why_choose_icon">subscriptions</em>
                <div style="font-size: 25px;"><strong>SUBSCRIBE NOW</strong>
                    <br><br>
                    <div style="width: 220px;font-size: 22px;">All customers are requested to fill up the contact form with valid
                        details with payment.</div>
                </div>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <div style="display: inline-block;align-items: center;"><em class="material-icons why_choose_icon">book_online</em>
                <div style="font-size: 25px;"><strong>CONFIRM APPOINTMENT</strong>
                    <br><br>
                    <div style="width: 240px;font-size: 22px;">Our representative will follow up for the appointment confirmation at
                        your preferred location.</div>
                </div>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <div style="display: inline-block;align-items: center;"><em class="material-icons why_choose_icon">supervised_user_circle</em>
                <div style="font-size: 25px;"><strong>PROFESSIONAL WASHING</strong>
                    <br><br>
                    <div style="width: 220px;font-size: 22px;">Team will arrive at your location as per agreed schedule and complete the
                        car wash.</div>
                </div>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <div style="display: inline-block;align-items:center;"><em class="material-icons why_choose_icon">rate_review</em>
                <div style="font-size: 25px;"> <strong>SHARE YOUR REVIEW</strong>
                    <br><br>
                    <div style="width: 220px;font-size: 22px;">After the washing is done, We would love to hear your feedback to
                        improvise our services.</div>
                </div>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>

    <br>
    <br>
<br>


    <div>
        <h1 style="text-align: center;font-size: 50px;">Monthly Subscription</h1>
        <h3 style="text-align: center;font-size: 30px;">Packages Available</h3>
        <br>

        <div style="padding-left: 18%;" class="hover_image">
            <a href="car-booking"><img src="assets/subscription-1.jpg" alt="Norway"></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="car-booking"><img src="assets/subscription-1.jpg"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="car-booking"><img src="assets/subscription-1.jpg"></a>
        </div>
    </div>
    <br>




    <app-footer>
    </app-footer>
